<style>
    a {
        color: brown !important;
    }

    .dark a {
        color: rgb(223, 151, 18) !important;
    }

    body {
        font-family: Noto Sans, sans-serif;
    }

    .callout {
        padding: 1rem;
        margin-bottom: 1rem;
        border: 1px solid #d2d6dc;
        border-radius: 0.375rem;
    }

    .callout p {
        margin-bottom: 0.5rem !important;
        overflow: hidden;
    }

    .callout p:last-child {
        margin-bottom: 0 !important;
    }

    div.callout:has(img) {
        min-height: 8rem;
    }

    .callout img {
        width: 3rem;
        float: left;
        margin-right: 1rem;
        filter: invert(42%) hue-rotate(183deg) brightness(91%) contrast(83%);
    }
</style>
<link href="static/webfonts/NotoSans/stylesheet.css" rel="stylesheet"/>
<link href="static/css/fontawesome.min.css" rel="stylesheet"/>
<link href="static/css/solid.min.css" rel="stylesheet"/>
<link href="static/css/brands.min.css" rel="stylesheet"/>
