<Style>
    a {
        color: brown !important;
    }

    .dark a {
        color: rgb(223, 151, 18) !important;
    }

    body {
        font-family: Noto Sans, sans-serif;
    }

    .callout {
      padding: 1rem;
      margin-bottom: 1rem;
      border: 1px solid #d2d6dc;
      border-radius: 0.375rem;
    }
    .callout p {
      margin-bottom: 0.5rem !important;
    }
    .callout p:last-child {
      margin-bottom: 0 !important;
    }
</Style>
<link href="https://sillytavern.app/webfonts/NotoSans/stylesheet.css" rel="stylesheet">
